.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: visible;
  pointer-events: none;
  background: rgba(51,51,51,0.40)
}

.formContainer{
  border: 1px solid;
  padding: 10px;
  margin: 100px;
}